.Wrapper {
  position: relative;
  z-index: 2;
}

.Wrapper::after {
  content: '';
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: .8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.General {
  position: relative;
  z-index: 2;
  font-weight: 200;
  padding: 5px 20px;
}

.MarginTopMedium {
  margin-top: 20px;
}

.MarginTopSmall {
  margin-top: 10px;
}

.PaddingMedium {
  padding: 0 20px;
}

.Header {
  font-weight: 200;
  color: #2b0152;
  text-align: center;
  padding: 0 30px;
  font-size: 30px;
}

.Container {
  text-align: center;
  position: relative;
  top: 80px;
  z-index: 2;
}



.FadeIn {
  animation: fadeIn .6s ease;
}

.FadeInLeft {
  animation: fadeInLeft .6s ease;
}

.FadeInRight {
  animation: fadeInRight .6s ease;
}

.BtnFadeIn {
  animation: fadeIn .6s ease-out;
}

.FadeInUp {
  animation: fadeInUp .5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(2vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.FadeOut {
  animation: fadeOut .6s ease;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(2vh);
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .General {
    font-weight: 300;
    padding: 5px 0;
  }

  .Layout {
    background: #e5e5e5;
    height: 100vh;
    position: relative;
  }

  .Header {
    padding: 5px;
    font-size: 25px;
    font-weight: 300;
  }
}