.Word {
  font-size: 60px;
  font-weight: 200;
  color: #2B0152;
  position: relative;
  z-index: 2;
  padding: 20px 30px;
  box-shadow: 0 10px 20px -6px #2B0152;
}

.Translation {
  color: #E66B16;
  text-transform: uppercase;
  font-size: 40px;
}

.Sentence {
  font-size: 30px;
  color: #2B0152;
  text-align: center;
  /* box-shadow: 0 10px 20px -6px #2B0152; */
}