.Form {
  display: flex;
  flex-flow: column;
  padding: 30px;
  width: 50vw;
  /* margin-top: 80px; */
  box-shadow: 0 20px 60px rgba(43, 1, 82, 0.6);
}

.FormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}