.Form {
  display: flex;
  flex-flow: column;
  padding: 30px;
  width: 50vw;
  /* margin-top: 80px; */
  box-shadow: 0 20px 60px rgba(43, 1, 82, 0.6);
}

.FormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 900px) {
  .Form {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .Form {
    width: 100vw;
    padding: 30px 0;
  }
}