.Form {
  display: flex;
  flex-flow: column;
  padding: 30px;
  margin-top: 80px;
  box-shadow: 0 20px 60px rgba(43, 1, 82, .6);

  /* Transition Group */
  width: 50vw;
  position: relative;
  top: 50vh;
  transform: translate(-50%, -45%);
  margin: 0 auto;
}