.SearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.SearchPosition {
  top: 30px;
  height: 85vh;
  width: 90vw;
  padding-top: 30px;
}

.ContentBox {
  display: flex;
}