.Btn {
  position: relative;
  margin-top: 30px;
  box-shadow: inset 0 20px 50px #2B0152;
  transition: background-color .3s;
  border: none;
  outline: none;
  padding: 15px 30px;
}

.Btn::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 3px;

  background-color: rgba(43, 1, 82, .5);
  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform .3s;
}

.Btn:hover::before {
  transform: scaleX(1);
}

.Btn:hover {
  background-color: rgba(43, 1, 82, .4);
}

.BtnLink {
  color: #fff;
  text-decoration: none;
  display: block;

  position: relative;
  z-index: 10;
}