.Btn {
  position: relative;
  margin-top: 30px;
  box-shadow: inset 0 20px 50px #2B0152;
  transition: background-color .3s;
}

.Btn::before {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: rgba(43, 1, 82, .8);
  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform .3s;
}

.Btn:hover::before {
  transform: scaleX(1);
}

.Btn:hover {
  background-color: rgba(43, 1, 82, .4);
}

.BtnLink:link,
.BtnLink:visited {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  position: relative;
  z-index: 10;
}