.Btn {
  position: relative;
  top: 10px;
  margin-top: 30px;
  box-shadow: inset 0 20px 50px #2b0152;
  transition: background-color 0.3s;
  border: none;
  outline: none;
  padding: 15px 20px;
  width: 20vw;
  margin: 0 auto;
}

.Btn::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 3px;

  background-color: rgba(43, 1, 82, 0.5);
  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform 0.3s;
}

.Btn:hover::before {
  transform: scaleX(1);
}

.Btn:hover {
  background-color: rgba(43, 1, 82, 0.4);
}

.BtnLink {
  color: #fff;
  text-decoration: none;
  display: block;

  position: relative;
  z-index: 10;
}

.Btn:disabled,
.Btn:disabled::before {
  cursor: not-allowed;
  background: #F2F2F2F2;
  box-shadow: none;
  color: #babdbe;
  content: none;
}