.Container {
  width: 50%;
  color: #2b0152;
  /* text-align: center; */
}

.InnerContent {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  padding: 0 10px;
  width: 40vw;
  transition: all .3s ease-out;
  border-bottom: 1px solid rgba(43, 1, 82, .2);
}

.InnerContent:hover {
  background-color: #592F81;
  cursor: pointer;
  color: #fff;
}

.InnerContent:hover .BtnDelete {
  animation: moveRight .6s ease .2s forwards;
}

.InnerContent:hover .BtnView {
  animation: moveRight .6s ease forwards;
}

.Article {
  /* margin-right: 20px; */
}

.BtnContainer {
  display: flex;
  align-items: center;
}

.BtnDelete {
  opacity: 0;
  border: none;
  /* height: 70%; */
  color: #fff;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
}

.BtnDelete:hover {
  cursor: pointer;
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(1vh) rotate(90deg);

  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg)
  }
}