.Container {
  width: 50%;
  color: #2b0152;
  /* text-align: center; */
}

.InnerContent {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  padding: 0 10px;
  width: 40vw;
  transition: all 0.3s ease-out;
  border-bottom: 1px solid rgba(43, 1, 82, 0.2);
}

.InnerContent:hover {
  background-color: #592f81;
  cursor: pointer;
  color: #fff;
}

.InnerContent:hover .BtnDelete {
  animation: moveRight 0.6s ease 0.2s forwards;
}

.InnerContent:hover .BtnView {
  animation: moveRight 0.6s ease forwards;
}

.Article {
  /* margin-right: 20px; */
}

.BtnContainer {
  display: flex;
  align-items: center;
}

.BtnDelete {
  opacity: 0;
  border: none;
  margin-right: 10px;
  /* height: 70%; */
  color: #fff;
  border-radius: 3px;
  outline: none;
  background-color: transparent;
}

.BtnDelete:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .Container {
    width: 100%;
  }

  .InnerContent {
    width: 100%;
  }

  .BtnDelete {
    margin-right: 50px;
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(1vh) rotate(90deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}
